.content-enter-before {
  opacity: 0;
}

.content-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .25s ease-in-out, height 2s linear;
  -moz-transition: opacity .25s ease-in-out, height 2s linear;
  -webkit-transition: opacity .25s ease-in-out, height 2s linear;
}

.content-enter-active {
  opacity: 1;
  height: auto;
}

.content-leave-before {
  opacity: 1;
}

.content-leave {
  opacity: 1;
  height: auto;
  overflow: hidden;
  transition: opacity .25s ease-in-out, height 2s linear;
  -moz-transition: opacity .25s ease-in-out, height 2s linear;
  -webkit-transition: opacity .25s ease-in-out, height 2s linear;
}

.content-leave-active {
  opacity: 0;
  height: 0;
}
